/* You can add global styles to this file, and also import other style files */
.content-custom{
	vertical-align: middle !important;
}
.image-avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 0.5px solid grey;
}
.clearfix{
	clear: both;
	display: block;
	content: "";
}
.container{
	@extend clearfix;
	max-width: 1120px;
	margin: 0 auto;
}