<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <a class="navbar-brand" style="font-size: 20px;" href="index.html">Articles</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="navbar-brand" [routerLink]="['']" routerLinkActive="actived" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
          <a class="navbar-brand" [routerLink]="['detail',2]" routerLinkActive="actived">Article</a>
        </li>
        <li>
          <a class="navbar-brand" [routerLink]="['**']" routerLinkActive="actived">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>  
