<div class="container">
  <h1>Add User</h1>
  <form [formGroup]="formRegister" (ngSubmit)="onSubmit(formRegister.value)" >
    <fieldset class="form-group" formGroupName="personal">
      <div>
        <label for="">Name</label>
        <input type="text" class="form-control" formControlName="name">
        <small class="text-danger"> Name is required (minimum 5 characters).</small>
      </div>
      <div>
        <label for=""> Birthday</label>
        <input type="text" class="form-control" formControlName="birthday">
        <label for=""> Avatar</label>
        <input type="text" class="form-control" formControlName="avatar">
      </div>
    </fieldset>
    <fieldset class="form-group" formGroupName="company">
      <div>
        <label for="">Team</label>
        <select id="team" class="form-control" formControlName="team" >
        <option>Ruby</option>
        <option>PhP</option>
        <option>FE</option>
        </select>
      </div>
    </fieldset>
    <div>
      <label for="">Skill</label>
      <input type="text" class="form-control" formControlName="skills">
    </div><br>
    <button [disabled]="!formRegister.valid" type="submit" class="btn btn-primary">SUBMIT</button>
  </form>
  <h1>Member</h1>
  <table class="table table-striped">
    <thead class="head-table">
      <th class="head-title">Avatar</th>
      <th>Id</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Team</th>
      <th>Skill</th>
      <th>Action</th>
    </thead>
    <tbody class="content-custom" *ngFor="let trainer of trainers">
      <tr >
        <td class="content-custom"></td>
        <td class="content-custom">{{trainer.personal.id}}</td>
        <td class="content-custom">{{trainer.personal.name}}</td>
        <td class="content-custom"> {{trainer.personal.birthday}}</td>
        <td class="content-custom">{{trainer.company.team}}</td>
        <td class="content-custom">{{trainer.skills}}</td>
        <td class="content-custom"><button class="btn btn-primary" (click)="fillDetails(trainer)" >Show details</button></td>
      </tr>
    </tbody>
  </table>
</div>
