.fe{
  background-color: grey;
}
.ruby{
  background-color: white;
}
.table-box{
	float: left;
	padding-right: 50px;
	border-collapse: collapse;
	margin-right: 30px;
}
.image-box{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 0.5px solid grey;
}
.text-empty{
	font-style: italic;
	position: absolute;
	margin-top: 45px;
}
