<table class="table-box">
  <th>Avatar</th>
  <th>Name</th>
  <th>Birthday</th>
  <th>Team</th>
  <tbody *ngFor="let trainer of trainers; let i = index ">
    <tr class="ruby" *ngIf= "trainer.team == 'Ruby' " >
      <td><img src="{{ trainer.avatar|imageDefault }}" class="image-avatar"></td>
      <td>{{trainer.name}}</td>
      <td [emptyData]="trainer.birthday" ></td>
      <td>{{trainer.team}}</td>
      <td><img src="{{trainer.teamLogo|imageDefault: 'logo'}}" class="image-logo"></td>
      <td><button (click) = "sendIndex(i)">Show details</button></td>
    </tr>
    <tr class="fe" *ngIf= "trainer.team == 'FE' " >
      <td><img src="{{ trainer.avatar|imageDefault }}" class="image-avatar"></td>
      <td>{{trainer.name}}</td>
      <td [emptyData]="trainer.birthday"></td>
      <td>{{trainer.team}}</td>
      <td><img src="{{trainer.teamLogo|imageDefault: 'logo'}}" class="image-logo"></td>
      <td><button (click) = "sendIndex(i)">Show details</button></td>
    </tr>
  </tbody>
</table>